*{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

body{
    background-color: #360303;
}

/*classes*/
.divBackground{
    margin-left: 500px;
    width: 1280px;
    height: 720px;
    background-image:url(videos/background.gif);
    position: absolute;
    background-size: cover;
    filter: grayscale(50%);
    border-radius: 30px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.styledWriting{
    color: rgb(255, 255, 255);
    font-size:90px;
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);
    text-align: initial;
}
.navigationBar {
    background-color: rgba(243, 243, 94, 0.774);
    max-width: 2200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%); /*get that cool corners*/
  
}
.navigateWeb {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #FF5733;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: transform 0.3s ease;
    transform: skewX(15deg);
}
.navigateWeb:hover{
    transform: skewX(0deg);
    box-shadow: 0 10px 20px red;
}
.navigateCheckout{
    display: flex;
    width: 100px;
    height: 50px;
}
.navigateCheckout:hover{
    animation: vibrate 1s ease infinite;
}
/*vibration effect for checkout button.*/
@keyframes vibrate{       
    0%{
        transform:skewX(0deg);
    }
    15%{
        transform: skewX(-6deg);
    }
    45%{
        transform:skewX(6deg);
    }
    75%{
        transform:skewX(-6deg);
    }
    100%{
        transform: skewX(0deg);
    }
    
}
.logo{
    margin-left: 70px;
    width: 250px;
    height: auto;
    transform: skewX(-10deg);
    
}

.logo:hover{
    transform:skew(0deg);
    animation: logoHover 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes logoHover{
    0%{
        transform: skew(10deg);
    }
    100%{
        transform: skew(0deg);
    }
}
.emptyBetweenGif{
    height: 36px;
}

.moving-text {
    position: absolute;
    white-space: nowrap; 
    animation: moveText 14s linear infinite;
    position: relative;
    overflow: hidden;
}
@keyframes moveText {
    0% {
      transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }

}
.moving-text-font{
    text-decoration: none;
    color: inherit;
    font-size: 25px;
    color: white;
    cursor:pointer;
}
.moving-text-font:hover{
    animation: hover_Moving 1s ease-in;
    color: #FF5733;
    text-shadow: 0 0 10px red;
}
@keyframes hover_Moving{
    0%{
        color: #ffffff;
        
    }
    50%{
        color: #FF5733;
        text-shadow: 0 0 10px red;
    }
}


.leftSideOfIndex{
    float: left;
}




/*ids*/

#ukFlag{
    background-image: url(images/uk.png);
    height: 85px;
    width: 150px;
    display: flex;
    font-weight: 500;
    font-size: 120px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
}
#yearFont{
    font-family: "The Beardy Pro Display";
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    color: rgba(255, 204, 95, 0.8);
    font-size: 290px;
    font-weight: 20;
}
#buttonFrontVid{
    top: 50%;
    left: 43%;
    position: absolute;
    display: flex;
    font-size: 25px;
    padding: 15px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
}
#buttonFrontVid:hover{
    display: flex;
    margin: auto;
    font-size: 25px;
    padding: 20px;
    border: 1px solid #000;
    background-color: rgba(255, 0, 0, 0.5);
    transition: all 0.4s ease-out 0s;
}
#orderButtonFont{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#middleButton{
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}





































  





