*{
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width:630px){
    body{
        width: 535px;
    }
    
    #navigationBar-mobile{
        width: 300px;
        background-color: rgb(255, 136, 0);
    }
    #navigationBar-mobile .logo{
        scale: 0.5;
        position: relative;
        left: 120px;
    }
    #navigationBar-mobile .navigateWeb { /*needed here to make buttons disappear for mobiles.*/
        transform: translateX(300px);
    }
    #navigationBar-mobile .navigateCheckout{
        scale: 0.85;
        position: relative;
        right:245px;
        bottom: 5px;
        box-sizing: border-box;
    }
    #navigationBar-mobile .checkbtn , #check{
        display: block;
        position: relative;
        left: 160px;
        scale: 1.75;
        color: black;
        margin: auto;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.5s ease;

    }
    #navigationBar-mobile #check{
        position: relative;

        }
    #navigationBar-mobile .checkbtn:hover{
        display: block;
        position: relative;
        left: 160px;
        scale: 1.75;
        color: black;
        margin: auto;
        font-size: 16px;
        cursor: pointer;
        text-shadow: 2px 2px 3px #fdfdfd;
    }
    
    .emptyBetweenGif{
        width: 1030px;
    }
    #smaller-width-big-section{
        width: 100px;
    }
    .big-order-section {
        position: relative;/*new ui for smaller devices should be made.*/
        bottom: 350px;
        right: 386px;
        transform: scale(0.4);
    }

    .order-section h1,
    .order-section h2 {
        font-size: 25px;
    }

    .form-container {
        padding: 6px;
    }

    .form-select {
        padding: 5px;
        font-size: 25px;
    }

    #submit-button {
        position: relative;
        bottom: 120px;
        padding: 1px 2px;
        font-size: 1rem;
    }

    /*navbar for mobile*/
    .navbar {
    display: none;
    position: relative;
    left: 160px;
    height: 125px;
    width: 250px;
    background-color: rgb(255, 136, 0);
    }
    
    .nav-links {
    list-style: none;
    display: grid;
    justify-content: center;
    }
    
    
    .nav-links li a {
    position: relative;
    right: 20px;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    }
    .nav-links li a:hover{
        color: black;
        transition: all 0.5s ease;
    }
    .mainAboutParagraph{
        font-size: 17px;
        width: 500px;
    }
    
    #specialA{
        display: flex;
        margin-top: 100px;
        margin-left: 100px;
        font-size: 30px;
    }
    .furtherAbout{
        text-align: left;  
    }
    #furtherAboutText{
        margin-right: 1110px;
        width: 300px;
    }
    .furtherPicture img{
        display: none;
    }
    .explanationAbout p{
        font-size: 15px;
    }
    #containerFind{
        transform: translateX(-650px) scale(0.8);
    }


  }



@media screen and (min-width: 631px) and (max-width:865px) { /*for mobile devices*/
    .navigateWeb{
        scale: 0.6;
        padding: 5px 10px;
        font-size: 14px;
    }

    .mainAboutParagraph{
        font-size: 17px;
        width: 500px;
    }
    
    #specialA{
        display: flex;
        margin-top: 100px;
        margin-left: 100px;
        font-size: 30px;
    }
    .furtherAbout{
        text-align: left;  
    }
    #furtherAboutText{
        margin-right: 1110px;
        width: 300px;
    }
    .furtherPicture img{
        display: none;
    }
    .explanationAbout p{
        font-size: 15px;
    }
    #containerFind{
        transform: translateX(-500px);
    }
}

@media screen and (min-width:871px) and (max-width:1100px){
    .navigateWeb{
        scale: 0.8;
    }
    .mainAboutParagraph{
        font-size: 17px;
        width: 500px;
    }
    
    #specialA{
        display: flex;
        margin-top: 100px;
        margin-left: 100px;
        font-size: 30px;
    }
    .furtherAbout{
        text-align: left;  
    }
    #furtherAboutText{
        margin-right: 1110px;
        width: 300px;
    }
    .furtherPicture img{
        display: none;
    }
    .explanationAbout p{
        font-size: 15px;
    }
    #containerFind{
        transform: translateX(-450px);
    }

    
}
@media screen and (max-width:1800px){
    .mainMenuAboutPic{
            display: none;
    }
    #burgerStyled{
        scale: 0.8;

    }
}


body{
    background-color: #360303;
}

/*classes*/
.buttonTest{ /*added button to test audios and potential effects in future.*/
    right: 0;
    bottom: 0;
    position: flex;
    border: 3px solid black;
    width: 100px;
    height: 100px; 
}


.divBackground{
    margin-left: 500px;
    width: 1280px;
    height: 720px;
    position: absolute;
    background-size: cover;
    filter: grayscale(50%);
    border-radius: 30px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.styledWriting{
    color: rgb(255, 255, 255);
    font-size:90px;
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);
    text-align: initial;
}
.navigationBar {
    background-color: rgba(243, 243, 94, 0.774);
    max-width: 2200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%); /*get that cool corners on navigation bar*/
}
.navigationBar #check,.checkbtn{
    display: none; /*if resolution is big enough , no need for them. */
}
.navigateWeb {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #FF5733;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: transform 0.3s ease;
    transform: skewX(15deg);
}
.navigateWeb:hover{
    transform: skewX(0deg);
    box-shadow: 0 10px 20px red;
}
.navigateCheckout{
    display: flex;
    width: 100px;
    height: 50px;
}
.navigateCheckout:hover{
    animation: vibrate 1s ease infinite;
}
/*vibration effect for checkout button.*/
@keyframes vibrate{       
    0%{
        transform:skewX(0deg);
    }
    15%{
        transform: skewX(-6deg);
    }
    45%{
        transform:skewX(6deg);
    }
    75%{
        transform:skewX(-6deg);
    }
    100%{
        transform: skewX(0deg);
    }
    
}
.logo{
    width: 250px;
    transform: skewX(-10deg);
}

.logo:hover{
    transform:skew(0deg);
    animation: logoHover 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes logoHover{
    0%{
        transform: skew(10deg);
    }
    100%{
        transform: skew(0deg);
    }
}
.emptyBetweenGif{
    height: 36px;
    overflow: hidden;
}

.moving-text {
    position: absolute;
    white-space: nowrap; 
    animation: moveText 12s linear infinite;
    position: relative;
    overflow: hidden;
}
/*made it smoother*/
@keyframes moveText {
    0% {
      transform: translateX(-65%); 
    }
    100%{
        transform: translateX(110%);
    }

}
.moving-text-font{
    text-decoration: none;
    color: inherit;
    font-size: 25px;
    color: white;
    cursor:pointer;
}
.moving-text-font:hover{
    animation: hover_Moving 1s ease-in;
    color: #FF5733;
    text-shadow: 0 0 10px red;
}
@keyframes hover_Moving{
    0%{
        color: #ffffff;
        
    }
    50%{
        color: #FF5733;
        text-shadow: 0 0 10px red;
    }
}



.big-order-section{
    transition: all 0.25s ease;
    margin: auto;
    width: 1300px;
    border: solid black;
}

.order-section{
    position:relative;
    border: solid black;
    width: 400px;
    height: 1200px;
}

.form-select{
    margin:auto;
    width: 340px;
    margin-bottom: 230px;
}

.fries-section{
    border: solid black;
}
.order-view{
    border: solid black;
}

.navbar{  /*navbar for mobile should be not visible for bigger displays.*/
    display: none;
}

.order-picture{
    float: right; 
    width: 894px;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.view3D{
    width: 450px;
    height: 200px;
    border: solid white;
    cursor: pointer;
}
.sampleOrderPhoto{
    position: relative;
    left: 446px;
    bottom: 203px;
    width: 449px;
    height: 200px;
    border: solid white;
    cursor: pointer;
}
.mainAbout{
    color: wheat;
    font-size: 23px;
    width: 1200px;
    height: 200px;
    padding:25px;
}
.mainMenuAboutPic{
    width:620px;
    float: right;
    position: relative;
    bottom: 160px;
    animation: old_Effect 5s infinite;
    border-radius: 50px;
}
.mainMenuAboutPic::after {
    content: "('Our oldest menu from 70s')";
    color: #FF5733;
    position: relative;
    bottom: 145px;
    left: 200px;
  }
.belowAbout a{
    text-decoration: none;
    font-size: 50px;
    color: orange;
    margin-left: 450px;

}
.belowAbout a:hover{
    animation: rainbow 15s infinite;
}
.emptyBetweenAbout{
    margin-top: 320px;
}
.furtherAbout{
    position: relative;
    width: 1080px; /*this was causing website to have overflow for x axis*/
    left: 330px;
    font-size: 50px;
    display: grid;
    justify-content: center;
    color: white;
}
.explanationAbout{
    font-size: 25px;

    color: wheat;
    float: right;
}

.burgerCentered{
    height: 500px;
}
.centerAbout{
    width: 100%;
    display: grid;
    justify-content: center;
}

.Burger_GIF{
    cursor: pointer;
    margin-top: 25px;
}


/*footer section*/

.app-footer {
    position: absolute;
    bottom: 1;
    width: 100%;
    background: rgb(73, 28, 28);
    color: #ffffff4d;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    gap: 8px;
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 16px 0;
    width: 100%;
}

.app-info {
    width: 30%;
}

.app-info h2 {
    color: #fff;
}
.app-info p {
    font-size: 14px;
    margin-top: 16px;
}

.footer-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.action-header {
    color: #fff;
}

.unordered-list {
    list-style:disc;
    font-size: 14px;
    margin-top: 16px;
}

.unordered-list li {
    margin-bottom: 8px;
}
.unordered-list li a {
    color: yellow;
    text-decoration: none;
    transition: 0.3s ease all;
}
.unordered-list li a:hover {
    color: orange;
}

.copyright-text a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}

.copyright-text a:hover {
    color: #63a9fe;
    transition: 0.2s ease-in all;
}

.social-icons img {
    width: 20px;
    margin-right: 16px;
    padding: 8px 0;
    cursor: pointer;
    transition: 0.2s ease all;
}
.social-icons img:hover{
    width: 35px;
}

.copyright {
    font-size: 14px;
    margin: 4px 0 20px 0;
}
.contactPart{
    display: flex;
    justify-content: center;
}

.contactForm{
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.634);
    width: 800px;
    display: grid;
    justify-content: center;
    transition:  0.25s all ease;
}
.contactForm h1{
    text-align: center;
}
.btn{
    background-color: orange;
}

.btn:hover{
    text-shadow: 0 2px 1px #000;
    animation: 7s rainbow_Background infinite;
}

.checkout-item {
    margin: 10px;
}
.selected-item {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
}




@keyframes rainbow{
    0%{
        color: red;
    }
    15%{
        color: rgb(255, 0, 157);
    }
    30%{
        color: green;
    }
    45%{
        color: gold;
    }
    60%{
        color: aquamarine;
    }
    75%{
        color: aqua;
    }
    90%{
        color: blue;
    }
    100%{
        color: beige;
    }   
}
@keyframes rainbow_Background{
    0%{
        background-color: red;
    }
    15%{
        background-color: rgb(255, 0, 157);
    }
    30%{
        background-color: green;
    }
    45%{
        background-color: gold;
    }
    60%{
        background-color: aquamarine;
    }
    75%{
        background-color: aqua;
    }
    90%{
        background-color: blue;
    }
    100%{
        background-color: beige;
    }   
}

@keyframes old_Effect{
    0%{
        filter: grayscale(0%);
    }
    50%{
        filter: grayscale(100%);
    }
    100%{
        filter: grayscale(0%);
    }
}


.findUsContainer{
    width: 800px;
    border: solid;
    height: 600px;
    background-color: rgb(255, 197, 8);
    border-radius: 10%;
}

.findUsContainer img{
    width: 300px;
    position: relative;
    bottom: 120px;
    transform: skewX(-10deg);
}

.findUsMap{
    width: 400px;
    height: 100%;
    border-radius: 10%;
}
.findUsText p{
    text-align: right;
    position: relative;
    bottom: 550px;
    right: 85px;
    font-size: 18px;
    transform: 0.25 all ease;
}
.findUsText p:hover{
    animation: rainbow 5s infinite;
}

.findUsText p:nth-child(2){
    font-size: 17px;
    width: 300px;
    position: relative;
    bottom: 200px;
    left: 420px;
    text-align: left;
}





/*ids*/

#ukFlag{
    background-image: url(images/uk.png);
    height: 85px;
    width: 150px;
    display: flex;
    font-weight: 500;
    font-size: 120px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
}
#yearFont{
    font-family: 'Groovy';
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    color: rgba(255, 204, 95, 0.8);
    font-size: 170px;
    font-weight: 20;
}
#buttonFrontVid{
    top: 50%;
    left: 43%;
    position: absolute;
    display: flex;
    font-size: 25px;
    padding: 15px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
}
#buttonFrontVid:hover{
    display: flex;
    margin: auto;
    font-size: 25px;
    padding: 20px;
    border: 1px solid #000;
    background-color: rgba(255, 0, 0, 0.5);
    transition: all 0.4s ease-out 0s;
}
#orderButtonFont{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#middleButton{
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#forLogo{
    position: relative;
    left: 30px;
    width: 230px;
}
#submit-button{
    background-color: orange;
    position: relative;
    left: 140px;
    scale: 3;
    transition: all 0.2s;
}
#submit-button:hover{
    animation: vibrateSubmit 0.5s infinite;
}
@keyframes vibrateSubmit{       
    0%{
        transform:translateX(0.2px);
    }
    50%{
        transform:translateX(-0.2px);
    }
    100%{
        transform:translateX(0.2px);
    }
    
}
#submit-button:active{
    scale: 2.5;
}

#result{
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    transition: all 0.65s ease;
}

#result:hover{
    color: green;
}
#burgerStyled{
    width: 350px; 
    text-align: left;
    position: relative;
    right: 70px;
    top: 200px;
    transform: rotateY(180deg); 
    border-radius: 10%;
}

#containerFind{
    position: relative;
    left: 550px;
}

#displayingPlace{
    width: 894px !important;
    height: 1000px !important;
}

#enable3D{
    width: 450px;
    height: 200px;
}
/*for extra burger*/
#addExtraButton{
    display: none;
    background-color: yellow;
    scale: 1.23;
    transition: all 0.25s ease;
    position: relative;
    left: 20px;
    bottom: 20px;
}

#addExtraButton:active{
    scale: 0.56;
}
#extraSelection{
    display: none;
}
#addSelectedOrder{
    background-color: rgb(255, 47, 75);
    transition: all 0.25s ease;
    color: white;
}
#addSelectedOrder:active{
    scale: 0.7;
}
#totalPrice{
    display: none;
    font-size: 25px;
    text-align: center;
    color: green;
}
#paypal-button-container{
    display: none;
    justify-content: center;
}

