*{
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width:375px){
    body{
        width: 375px;
    }
    #navigationBar-mobile{
        width: 300px;
        background-color: rgb(255, 136, 0);
    }
    #navigationBar-mobile .logo{
        scale: 0.5;
        position: relative;
        left: 120px;
    }
    #navigationBar-mobile .navigateWeb {
        transform: translateX(300px);
    }
    #navigationBar-mobile .navigateCheckout{
        scale: 0.85;
        position: relative;
        right:245px;
        bottom: 5px;
        box-sizing: border-box;
    }
    #navigationBar-mobile .checkbtn , #check{
        display: block;
        position: relative;
        left: 160px;
        scale: 1.75;
        color: black;
        margin: auto;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.5s ease;

    }
    #navigationBar-mobile #check{
        position: relative;

        }
    #navigationBar-mobile .checkbtn:hover{
        display: block;
        position: relative;
        left: 160px;
        scale: 1.75;
        color: black;
        margin: auto;
        font-size: 16px;
        cursor: pointer;
        text-shadow: 2px 2px 3px #fdfdfd;
    }
    #check:checked ~ #navigationBar-mobile .navigateWeb{
        transform: translateX(0px);
    }

    .emptyBetweenGif{
        width: 370px;
    }
    #smaller-width-big-section{
        width: 100px;
    }
     .big-order-section {
                position: relative;/*new ui for smaller devices should be made.*/
                bottom: 350px;
                right: 386px;
                transform: scale(0.4);
            }

            .order-section h1,
            .order-section h2 {
                font-size: 25px;
            }

            .form-container {
                padding: 6px;
            }

            .form-select {
                padding: 5px;
                font-size: 25px;
            }

            #submit-button {
                position: relative;
                bottom: 120px;
                padding: 1px 2px;
                font-size: 1rem;
            }

            /*navbar for mobile*/
            .navbar {
                display: none;
                position: relative;
                left: 160px;
                height: 125px;
                width: 250px;
                background-color: rgb(255, 136, 0);
              }
              
              .nav-links {
                list-style: none;
                display: grid;
                justify-content: center;
              }
              
              
              .nav-links li a {
                position: relative;
                right: 20px;
                font-size: 10px;
                color: #fff;
                text-decoration: none;
              }
              .nav-links li a:hover{
                  color: black;
                  transition: all 0.5s ease;
              }
              
  }
}


@media screen and (max-width: 768px) { /*for mobile devices*/
    #navigationBar-mobile{
        width: 600px;
        background-color: rgb(255, 136, 0);
    }
    #navigationBar-mobile .navigateWeb {
        transform: translateY(200px);
    }
    #navigationBar-mobile .navigateCheckout{
        scale: 0.85;
        position: relative;
        right:220px;
        bottom: 5px;
    }
    #navigationBar-mobile .checkbtn , #check{
        display: block;
        position: relative;
        left: 260px;
        scale: 1.75;
        color: black;
        margin: auto;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.5s ease;

    }
    #navigationBar-mobile .checkbtn:hover{
        display: block;
        position: relative;
        left: 260px;
        scale: 1.75;
        color: black;
        margin: auto;
        font-size: 16px;
        cursor: pointer;
        text-shadow: 2px 2px 3px #fdfdfd;
    }
    

    .emptyBetweenGif{
        width: 840px;
    }
     .big-order-section {
                padding: 5px;
                scale: 0.66;
                position: relative;
                right: 220px;
                bottom: 200px;
                height: 1200px;
            }

            .order-section h1,
            .order-section h2 {
                font-size: 25px;
            }
            .order-section{
                
            }

            .form-container {
                padding: 6px;
            }

            .form-select {
                padding: 5px;
                font-size: 15px;
            }

            #submit-button {
                position: relative;
                bottom: 120px;
                padding: 1px 2px;
                font-size: 1rem;
            }
  }

@media screen and (min-width: 769px) and (max-width: 1024px){ /*for Ipads , tablets*/

}
@media screen and (max-width:1025px){ /*for laptops and desktops*/

}


body{
    background-color: #360303;
}

/*classes*/
.buttonTest{ /*added button to test audios and potential effects in future.*/
    right: 0;
    bottom: 0;
    position: flex;
    border: 3px solid black;
    width: 100px;
    height: 100px; 
}


.divBackground{
    margin-left: 500px;
    width: 1280px;
    height: 720px;
    position: absolute;
    background-size: cover;
    filter: grayscale(50%);
    border-radius: 30px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.styledWriting{
    color: rgb(255, 255, 255);
    font-size:90px;
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);
    text-align: initial;
}
.navigationBar {
    background-color: rgba(243, 243, 94, 0.774);
    max-width: 2200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%); /*get that cool corners on navigation bar*/
}
.navigationBar #check,.checkbtn{
    display: none; /*if resolution is big enough , no need for them. */
}
.navigateWeb {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #FF5733;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: transform 0.3s ease;
    transform: skewX(15deg);
}
.navigateWeb:hover{
    transform: skewX(0deg);
    box-shadow: 0 10px 20px red;
}
.navigateCheckout{
    display: flex;
    width: 100px;
    height: 50px;
}
.navigateCheckout:hover{
    animation: vibrate 1s ease infinite;
}
/*vibration effect for checkout button.*/
@keyframes vibrate{       
    0%{
        transform:skewX(0deg);
    }
    15%{
        transform: skewX(-6deg);
    }
    45%{
        transform:skewX(6deg);
    }
    75%{
        transform:skewX(-6deg);
    }
    100%{
        transform: skewX(0deg);
    }
    
}
.logo{
    width: 250px;
    transform: skewX(-10deg);
}

.logo:hover{
    transform:skew(0deg);
    animation: logoHover 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes logoHover{
    0%{
        transform: skew(10deg);
    }
    100%{
        transform: skew(0deg);
    }
}
.emptyBetweenGif{
    height: 36px;
    overflow: hidden;
}

.moving-text {
    position: absolute;
    white-space: nowrap; 
    animation: moveText 14s linear infinite;
    position: relative;
    overflow: hidden;
}
@keyframes moveText {
    0% {
      transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }

}
.moving-text-font{
    text-decoration: none;
    color: inherit;
    font-size: 25px;
    color: white;
    cursor:pointer;
}
.moving-text-font:hover{
    animation: hover_Moving 1s ease-in;
    color: #FF5733;
    text-shadow: 0 0 10px red;
}
@keyframes hover_Moving{
    0%{
        color: #ffffff;
        
    }
    50%{
        color: #FF5733;
        text-shadow: 0 0 10px red;
    }
}


.leftSideOfIndex{
    float: left;
}

.big-order-section{
    transition: all 0.25s ease;
    margin: auto;
    width: 1300px;
    border: solid black;
}

.order-section{
    position:relative;
    border: solid black;
    width: 400px;
    height: 1200px;
}

.form-select{
    margin:auto;
    width: 340px;
    margin-bottom: 230px;
}

.fries-section{
    border: solid black;
}
.order-view{
    border: solid black;
}

.navbar{  /*navbar for mobile should be not visible for bigger displays.*/
    display: none;
}



/*ids*/

#ukFlag{
    background-image: url(images/uk.png);
    height: 85px;
    width: 150px;
    display: flex;
    font-weight: 500;
    font-size: 120px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
}
#yearFont{
    font-family: 'Groovy';
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    color: rgba(255, 204, 95, 0.8);
    font-size: 170px;
    font-weight: 20;
}
#buttonFrontVid{
    top: 50%;
    left: 43%;
    position: absolute;
    display: flex;
    font-size: 25px;
    padding: 15px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
}
#buttonFrontVid:hover{
    display: flex;
    margin: auto;
    font-size: 25px;
    padding: 20px;
    border: 1px solid #000;
    background-color: rgba(255, 0, 0, 0.5);
    transition: all 0.4s ease-out 0s;
}
#orderButtonFont{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#middleButton{
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#forLogo{
    position: relative;
    left: 30px;
    width: 230px;
}
#submit-button{
    background-color: orange;
    position: relative;
    left: 140px;
    scale: 3;
    transition: all 0.2s;
}
#submit-button:hover{
    animation: vibrateSubmit 0.5s infinite;
}
@keyframes vibrateSubmit{       
    0%{
        transform:translateX(0.2px);
    }
    50%{
        transform:translateX(-0.2px);
    }
    100%{
        transform:translateX(0.2px);
    }
    
}
#submit-button:active{
    scale: 2.5;
}


